{% extends "extends/base.html" %}
{% load bootstrap3 %}
{% block title %}修改成功{% endblock title %}
{% block content %}
<div class="container">
    <div class="row row-rl-10 row-tb-20">
        <div class="page-content col-xs-12 col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
            <section class="section checkout-area panel prl-30 pt-40 pb-20">
                <div class="col-md-offset-2 col-md-8 alert alert-success">修改密码成功！</div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
