{% extends "extends/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}我的资料{% endblock title %}
{% block content %}
<div class="container">
    <div class="row row-rl-10 row-tb-20">
        <div class="page-content col-xs-12 col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
            <section class="section checkout-area panel prl-30 pt-20 pb-40">
                <h2 class="h2 mb-20 h-title">我的资料</h2>
                <div class="col-md-offset-2 col-md-8">
                    <form class='form' action="{% url 'coupons:edit_user_data' %}" method="post" novalidate="novalidate"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-default pull-left" onclick="returnLastPage()">取消</button>
                        <button type="submit" class="btn btn-primary pull-right">保存</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript" src="{% static 'js/public.js' %}"></script>
{% endblock js %}
